.post-content{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.detailed-post-title{
    font-size: 45px;
    font-style: normal;
    font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
}

.detailed-post-desc{
    font-size: 21px;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    margin-bottom: 5px;
}

.detailed-post-img{
    text-align: center;
}

.detailed-post-desc:first-letter {
    padding-left: 20%;
}

.posts-heading{
    font-size: 25px;
}